<style>
  .titulo { text-align: center; margin: 20px 0 50px; }
</style>
{{! <h1>plantilla dasbod</h1> }}
<div>
  {{> menu }}
</div>

<div>
  <h1 class="titulo">Bienvenido al mercado WEB, seleccione sus productos</h1>
  {{> mainSection }}
</div>