<style>
  .tituloProducto { text-align: center; } img{ display: block; margin: auto; width: 50%; }
</style>

{{! estructura para recorrer e imprimir  }}

<div class="col-4">
  <h3 class="tituloProducto">{{producto}}</h3>
  <img class="img" src="{{producto}}.png" alt="{{producto}}" />
</div>