{{! Añadir enlaces  }}


<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    {{! jquery bootstrap }}
    {{! front end }}
    <script src="/js/bootstrap.js"></script>
    <script src="/jquery/jquery.js"></script>

  </head>
  <body>

    <div class="container-fluid" style="width: 100%;padding:0;">
      <div class="row">
        <div class="col">
          {{> dashboard }}
        </div>
      </div>
    </div>
  </body>
</html>